@import 'material-icons/iconfont/material-icons.css';
@import 'scss-reset/_reset.scss';

// font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.pagination_c {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.pages-quantity {
		display: flex;
		overflow: scroll;
		max-width: 515px;
		margin-right: 15px;
	}
	.current-of-total {
		display: flex;
		justify-content: flex-end;
		min-width: 50px;
	}
	// .pages {
	// 	display: flex;
	// 	justify-content: flex-end;
	// }
}

.pagination-button {
	font-size: 16px;
	border: 1px solid #e5e7eb;
	border-radius: 0.25rem;
	border-width: 0.7px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	padding: 0.7rem 1rem;
	text-align: center;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.pagination-button:hover {
	border-color: rgb(107 114 128);
}
.pagination-button__active {
	border-color: rgb(209 213 219);
}
.pagination__items-index {
	display: none;
}

.vue3-easy-data-table[data-v-0c3a2656] {
	line-height: 24px;
}

.vue3-easy-data-table__main {
	padding: 0 24px 0 0;
}

.vue3-easy-data-table__body tr[data-v-0c3a2656]:nth-child(odd) td {
	background: rgb(249, 250, 251);
}

.vue3-easy-data-table__body tr[data-v-0c3a2656] {
	height: 10px !important;
	color: var(--easy-table-body-row-font-color);
	font-size: var(--easy-table-body-row-font-size);
}
// .tst:nth-child(even) {
// 	background: rgb(249, 250, 251);
// }

.vue3-easy-data-table__footer[data-v-0c3a2656] {
	background-color: var(--easy-table-footer-background-color);
	color: var(--easy-table-footer-font-color);
	border-top: var(--easy-table-row-border);
	font-size: var(--easy-table-footer-font-size);
	height: var(--easy-table-footer-height);
	padding: var(--easy-table-footer-padding);
	box-sizing: border-box;
	width: 100%;
	height: 100% !important;
	padding: 12px 24px !important;
	display: flex;
	align-items: center;
	// flex-direction: row-reverse;
	justify-content: space-between !important;
	// justify-content: flex-start !important;

	.buttons-pagination .item.button.active-prev[data-v-4c681fa2] {
		border: 1px solid rgb(209 213 219);
		border-radius: 0.25rem;
		padding: 8px 16px;
	}

	.previous-page__click-button[data-v-c9da5286],
	.next-page__click-button[data-v-c9da5286] {
		display: none;
	}

	.buttons-pagination .item[data-v-4c681fa2] {
		box-sizing: border-box;
		cursor: pointer;
		min-width: calc(var(--easy-table-footer-font-size) * 1.8);
		line-height: calc(var(--easy-table-footer-font-size) * 1.8);
		border-top: none;
		border-bottom: none;
		border-right: none;
		text-align: center;
	}

	.vue3-easy-data-table__footer[data-v-30ede217]
		.buttons-pagination
		.item[data-v-4c681fa2] {
		box-sizing: border-box;
		cursor: pointer;
		min-width: none;
		line-height: none;
		border-top: none;
		border-bottom: none;
		border-right: none;
		text-align: center;
	}
	.buttons-pagination .item.button.active[data-v-4c681fa2] {
		background-color: white !important;
		border-color: black !important;
		color: #000;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border: 1px solid rgb(209 213 219);
		border-radius: 0.25rem;
		margin-left: 10px;
		padding: 8px 16px;
	}

	.buttons-pagination .item[data-v-4c681fa2]:last-of-type {
		border: 1px solid rgb(209, 213, 219);
		border-radius: 0.25rem;
		margin-left: 10px;
		padding: 8px 16px;
	}
}

body {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	background-color: rgb(249 250 251);
	--easy-table-border: 0.1px solid #e5e7eb;

	--easy-table-header-height: 40px;
	--easy-table-header-font-size: 16px;

	--easy-table-body-item-padding: 8px 12px;
	--easy-table-row-border: none;
	--easy-table-body-row-height: 64px;
	--easy-table-body-row-font-size: 16px;
	--easy-table-body-item-padding: 0.5rem 0.75rem;
	vertical-align: middle;
}
.vue3-easy-data-table__body {
	font-weight: 450;
}

.vue3-easy-data-table__body td {
	vertical-align: middle;
}
.vue3-easy-data-table__header th {
	color: black;
	vertical-align: middle;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-weight: 800;
	margin-left: 5px;
}

.suppliers {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
}

.app-inner-wrap {
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	//router-view
	.view {
		text-decoration: none;
		margin-left: 15rem;
		margin-top: 40px;
	}
}

.main__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	background-color: rgb(255 255 255);
	border: 1px solid;
	border-color: rgb(243 244 246);
	border-bottom: none;
	font-weight: 700;
}
.single-color {
	color: black;
	padding-right: 8px;
}

.links-color {
	color: black;
}

a {
	text-decoration: none;
}
