@import 'material-icons/iconfont/material-icons.css';
@import 'scss-reset/_reset.scss';

body {
	background-color: rgb(249 250 251);
}
.suppliers {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
}

.app-inner-wrap {
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	//router-view
	.view {
		margin-left: 15rem;
		margin-top: 55px;
	}
}
