.the-dashboard {
	padding: 48px;

	.text-rendering__title {
		font-size: 20px;
		font-weight: 400;
        margin: 10px 0;
	}
	.text-rendering {
		font-size: 12px;
		font-weight: 500;
        color: black;
	}
	.query-logs {
		font-size: 12px;
        color: rgb(156 163 175);
	}
	.metrics-title {
		font-size: 12px;
        margin-bottom: 20px;
        
	}
}
