.the-dashboard {
	padding: 48px;

	.metrics-wrapper {
		display: flex;
		align-items: baseline;
		gap: 10px;
		justify-content: space-between;
		line-height: 1.25rem;

		.worker {
			width: 50%;
		}
		.sql {
			width: 50%;
		}
		.metric-text {
			font-size: 14px;
		}
	}

	.text-rendering__title {
		font-size: 20px;
		font-weight: 400;
		margin: 1.5rem 0 0 0;
		line-height: 1.25rem;
	}

	

	.metrics-title {
		font-size: 12px;
		margin-bottom: 12px;
		margin-top: 5px;
	}
}

.metrics-titles {
	font-size: 20px;
	padding-bottom: 4px;
	font-weight: 400;
}

.query-items {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		Liberation Mono, Courier New, monospace;
}


.query-items {
	.query-logs {
		font-size: 12px;
		color: rgb(156 163 175);

		.text-rendering {
			font-size: 12px;
			font-weight: 500;
		}
		.text-render {
			font-size: 14px;
			line-height: 1.25rem;
			color: black;
		}
	}
}