{
  "root":true,
  "env":{
    "browser":true,
    "es2021":true,
    "node":true
  },
  "extends":[
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "parserOptions":{
    "ecmaVersion":2021
  },
  "plugins":[

  ],
  "rules":{
    "linebreak-style":"off",
    "no-new":"warn",
    "semi":[
      "error",
      "always"
    ],
    "indent":[
      "error",
      4,
      {
        "SwitchCase":1
      }
    ],
    "camelcase":"off",
    "max-len":"off",
    "@typescript-eslint/ban-ts-ignore":"off",
    "@typescript-eslint/explicit-function-return-type":"off",
    "@typescript-eslint/no-explicit-any":"off",
    "@typescript-eslint/no-var-requires":"off",
    "@typescript-eslint/no-empty-function":"off",
    "@typescript-eslint/camelcase":"off",
    "vue/html-self-closing":"off",
    "no-use-before-define":"off",
    "@typescript-eslint/no-use-before-define":"off",
    "@typescript-eslint/ban-ts-comment":"off",
    "@typescript-eslint/ban-types":"off",
    "@typescript-eslint/no-non-null-assertion":"off",
    "@typescript-eslint/explicit-module-boundary-types":"off",
    "@typescript-eslint/no-unused-vars":[
      "error",
      {
        "argsIgnorePattern":"^h$",
        "varsIgnorePattern":"^h$"
      }
    ],
    "@typescript-eslint/indent":[
      "error",
      4,
      {
        "ignoredNodes":[
          "TSTypeReference",
          "TSTypeReference *",
          "TSTypeParameterInstantiation",
          "TSTypeParameterInstantiation *"
        ]
      }
    ],
    "no-unused-vars":[
      "error",
      {
        "argsIgnorePattern":"^h$",
        "varsIgnorePattern":"^h$"
      }
    ],
    "no-trailing-spaces":"off",
    "space-before-function-paren":"off",
    "comma-dangle":[
      "error",
      "never"
    ],
    "quotes":[
      "error",
      "single"
    ],
    "vue/html-indent":[
      "error",
      4,
      {
        "attribute":1,
        "closeBracket":0,
        "ignores":[

        ]
      }
    ],
    "vue/custom-event-name-casing":"off",
    "vue/max-attributes-per-line":[
      "error",
      {
        "singleline":{
          "max":1
        },
        "multiline":{
          "max":1
        }
      }
    ],
    "vue/html-closing-bracket-newline":[
      "error",
      {
        "singleline":"never",
        "multiline":"always"
      }
    ],
    "vue/component-name-in-template-casing":[
      "error",
      "PascalCase",
      {
        "registeredComponentsOnly":true,
        "ignores":[

        ]
      }
    ],
    "vue/prop-name-casing":[
      "error",
      "camelCase"
    ],
    "vue/no-v-html":"off",
    "vue/script-indent":[
      "error",
      4,
      {
        "baseIndent":0,
        "switchCase":0,
        "ignores":[

        ]
      }
    ],
    "vue/match-component-file-name":[
      "error",
      {
        "extensions":[
          "jsx"
        ],
        "shouldMatchCase":false
      }
    ],
    "vue/no-unused-components":[
      "error",
      {
        "ignoreWhenBindingPresent":true
      }
    ]
  }
}