@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('./../../../assets/fonts/PaulGrotesk-Regular-Trail.otf');
}
@font-face {
	font-family: 'Proxima Nova bld';
	src: url('./../../../assets/fonts/PaulGrotesk-Bold-Trail.otf');
}
@font-face {
	font-family: 'Proxima Nova thin';
	src: url('./../../../assets/fonts/PaulGrotesk-Thin-Trail.otf');
}