.the-suppliers {
	padding: 24px;

	

	table.customTable {
		width: 100%;
		background-color: #ffffff;
		// border-collapse: collapse;
		color: #000000;
	}

	
	//   table.customTable {
	//     width: 100%;
	//   }

	//   table.customTable thead {
	//     background-color: #7EA8F8;
	//   }
}
