@import '../../../assets/fonts/fonts.scss';

.the-search {
	padding: 24px;

	.search-card {
		border: 0.5px solid #e5e7eb;
		border-radius: 3px;
		padding: 24px;
		background-color: #fff;

		.search-card__wrapper {
			margin-bottom: 8px;

			.card-input {
				padding: 0 10px 0 40px;
				background: url('https://static.thenounproject.com/png/101791-200.png')
					no-repeat left 10px center;
				background-size: 20px;
				border: 1px solid rgb(156 163 175);
				border-radius: 3px;
				width: 100%;
				max-width: 50%;
				height: 40px;
			}
			input:focus {
				border: 3px solid rgba(59, 130, 256, 0.5);
				outline: 2px solid transparent;
				outline-offset: 2px;
				border-radius: 6px;
			}
			input::placeholder {
				font-weight: 500;
				color: rgb(156 163 175);
			}
		}
	}

	.radio {
		margin-top: 15px;
		margin-bottom: 9px;
		position: relative;

		.radio-label {
			position: relative;
		}
		.radio-wrapper {
			display: flex;
		}
		.custom__radio {
			display: block;
			position: relative;
			padding: 0 15px 0 28px;
			margin-bottom: 12px;
			padding-top: 2px;
			cursor: pointer;
			font-size: 16px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.custom__radio input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
		.checkmark {
			position: absolute;
			top: 0;
			left: 1px;
			height: 20px;
			width: 20px;
			// background-color: #fdf9f9;
			border: 1px solid #faeeee;
			border-radius: 50%;
		}
		.custom__radio:hover input ~ .checkmark {
			background-color: #ccc;
		}
		.custom__radio input:checked ~ .checkmark {
			background-color: #2196f3;
		}
		.checkmark:after {
			content: '';
			position: absolute;
			display: none;
		}
		.custom__radio input:checked ~ .checkmark:after {
			display: block;
		}
		.custom__radio .checkmark:after {
			top: 5px;
			left: 5px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		}
	}
}

.search-title {
	font-size: 16px;
	font-weight: 700;
	// padding: 8px 0;
	margin-bottom: 0.5rem;
}
.font-medium {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 12px;
}
.font-bold {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
.link-style {
	
	font-size: 16px;
	color: #2563Eb;
}
.search-details {
	margin: 5px 0 8px 0;
	font-size: 14px;
	color: #9ca3af;
}

#customer {
	margin-left: 10px;
}
