@import '../../../assets/fonts/fonts.scss';

.the-search {
	.search-wrapper {
        position: relative;
		.input-search {
			position: absolute;
			text-align: center;
			top: 0;
			left: 0;
			z-index: 10;
		}
	}
    .input {
				
        border: 1px solid #e5e7eb;
        padding: 5px;
        max-width: 300px;
        width: 100%;
    }

	// input::placeholder {

	// }
	.search-card {
		margin: 80px 24px 0 24px;
		background-color: #fff;

		.search-card-wrapper {
			padding: 24px 24px 24px 24px;
		}
	}

	.search-details {
		color: rgb(156 163 175);
		opacity: (1);
	}
}

.tables-radio {
    padding-left: 24px;
}

.text {
	font-size: 16px;
	font-family: 'Proxima Nova Bold';
	font-weight: 900;
	padding: 8px 0;
	margin-bottom: 0.5rem;

}
.search {
    padding-left: 24px;
    margin: 0.5rem 0;
}

#customer {
	margin-left: 10px;
}
