.the-employees {
    padding: 24px;
  
    table.customTable {
		width: 100%;
		background-color: #ffffff;
		border: none;
		color: #000000;
	}

	table.customTable td,
	table.customTable {
		border: none;
		padding: 5px;
	}
}

.extra-margin {
	margin: 0 -10px 0 0;
}