.the-employee {
    padding: 24px;

	.table-wrapper {
		background-color: rgb(255 255 255);

		.product-block {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 2;
			grid-column-gap: 10px;
			grid-row-gap: 0px;

			.supplier-info {
				grid-area: 1 / 1 / 2 / 2;
			}
			.supplier-info-two {
				grid-area: 1 / 2 / 2 / 3;
			}
		}
	}

	// table.customTable {
	// 	width: 100%;
	// 	background-color: #ffffff;
	// 	border: none;
	// 	color: #000000;
	// }

	// table.customTable td,
	// table.customTable {
	// 	border: none;
	// 	padding: 5px;
	// }

    // .product-block {
    //     display: flex;
    //     align-items: center;
    // }

	// .bold {
	// 	font-weight: bold;
	// }
	.bold {
		font-weight: bold;
		margin-bottom: 15px;
	}
	.title {
		margin-bottom: 15px;
	}

	thead tr th {
		display: flex;
		font-weight: bold;
		align-items: center;
		border-bottom: 0.2px solid #e5e7eb;
		padding: 12px 16px;
		color: black;
	}
	table.customTable {
		width: 100%;
		background-color: #ffffff;
		border-style: none;
		color: #000000;
	}

	table.customTable td,
	table.customTable {
		padding: 24px 24px 12px 24px;
		border: 0.1px solid #e5e7eb;
	}
}
