.the-products {
    padding: 24px;
    
    table.customTable {
		width: 100%;
		background-color: #ffffff;
		border: none;
		// border-color: #7EA8F8;
		color: #000000;
	}

	table.customTable td,
	table.customTable {
		border: none;
		// border-color: #7EA8F8;
		padding: 5px;
	}
}
