.the-orders {
	padding: 24px;

	table.customTable {
		width: 100%;
		background-color: #ffffff;
		border: none;
		color: #000000;
		padding: 10px;
	}

	table.customTable td,
	table.customTable {
		border: none;
		padding: 5px;
	}


}
