.the-avatar {
    #profileImage {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #512DA8;
        font-size: 10px;
        color: #fff;
        text-align: center;
        // margin: 5px 0;
        padding-top: 6px;
      }
}
