.the-avatar {
    #profileImage {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        letter-spacing: -0.3px;
        text-align: center;
        margin: 0 -11px 0 0;
      }
}
