.the-avatar {
    #profileImage {
        // width: 25px;
        // height: 25px;
        // border-radius: 50%;
        // background: #512DA8;
        // font-size: 13px;
        // color: #fff;
        // text-align: center;
        // padding-top: 5px;

        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        letter-spacing: -0.3px;
        text-align: center;
      }
}
